<!DOCTYPE html>
<html ng-app="DemoApp">

<head>
   
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/Script.js"></script>
</head>
<body ng-controller="MyController">
    <button id="top" ng-click="scrollTo('bottom')">go to bottom of the page</button>

    <br /><br/>
          <div>
              <p>
                  From social media to healthcare, from ecommerce<br />
                  to online banking, billions of people worldwide<br />
                  use web and mobile applications for almost everything.<br />
                  These apps are convenient and help us with our<br />
                  day-to-day lives, offering seamless user experiences<br />
                  and interfaces. How are these apps developed to providev<br />
                  such reliability? Part of the credit goes to widely<br />
                  used frameworks like Angular, making it easy to create<br />
                  robust apps.<br />
                  From social media to healthcare, from ecommerce<br />
                  to online banking, billions of people worldwide<br />
                  use web and mobile applications for almost everything.<br />
                  These apps are convenient and help us with our<br />
                  day-to-day lives, offering seamless user experiences<br />
                  and interfaces. How are these apps developed to provide<br />
                  such reliability? Part of the credit goes to widely<br />
                  used frameworks like Angular, making it easy to create<br />
                  robust apps.<br />
                  From social media to healthcare, from ecommerce<br />
                  to online banking, billions of people worldwide<br />
                  use web and mobile applications for almost everything.<br />
                  These apps are convenient and help us with our<br />
                  day-to-day lives, offering seamless user experiences<br />
                  and interfaces. How are these apps developed to provide<br />
                  such reliability? Part of the credit goes to widely<br />
                  used frameworks like Angular, making it easy to create<br />
                  robust apps.<br />
                  From social media to healthcare, from ecommerce<br />
                  to online banking, billions of people worldwide<br />
                  use web and mobile applications for almost everything.<br />
                  These apps are convenient and help us with our<br />
                  day-to-day lives, offering seamless user experiences<br />
                  and interfaces. How are these apps developed to provide<br />
                  such reliability? Part of the credit goes to widely<br />
                  used frameworks like Angular, making it easy to create<br />
                  robust apps.<br />

              </p>
          </div>
    <br/>
    <button id="bottom" ng-click="scrollTo('top')">go to top of the page</button>
</body>
</html>